@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header .top-searchbar {
  position: relative;
  margin: 20px auto;
  margin-left: 133px;
  width: 692px;
  padding-left: 27px;
}

.logo-large {
  left: -139px !important;
}
