@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

arial {
  font-family: arial,sans-serif-light,sans-serif;
}

a {
  color: #1a0dab; 
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #609;
}

cite {
  color: #202124;
  font-size: 14px;
  line-height: 1.3;
  font-style: normal;
}

h2 {
  color: rgba(0,0,0,.87);
  line-height: 1.2;
  margin-bottom: -3px;
  overflow: hidden;
  display: inline;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  transform-origin: left top;
  transform-origin: left top;
  word-wrap: break-word;
}

h3 {
  font-size: 20px;
}

.serach-result-container {
  margin-right: 264px;
  margin-left: 180px;
  width: 652px;
}

.search-result {
  width: 600px;
  margin-bottom: 28px;
}

.serach-result a {
  color: inherit;
}

header .top-searchbar {
  position: relative;
  margin: 20px auto;
  margin-left: 133px;
  width: 692px;
  padding-left: 27px;
}

.logo-large {
  left: -139px !important;
}

.bio-container {
  width: 457px;
  float: left;
  min-width: 268px;
  display: block;
  position: relative;
  padding-bottom: 15px;
  margin-left: 892px;
  padding-right: 8px;
}